---
layout: layouts/base.njk
---
{% include "partials/hero.njk" %}
{% include "partials/operator-loop.njk" %}
{% include "partials/why-codex-swarm.njk" %}
{% include "partials/core-capabilities.njk" %}
{% include "partials/product-surfaces.njk" %}
{% include "partials/technical-foundation.njk" %}
{% include "partials/final-cta.njk" %}
